<div class="panel panel-default">
	<div class="panel-body visible-lg-block visible-md-block">
		<a href="/products"><%= image_tag("Thanks.jpg", :class => "img-responsive") %></a>
	</div>
</div>	

<div class="panel-body-sm visible-sm-block visible-xs-block">
		<a href="/products"><%= image_tag("Thanks-sm.jpg", :class => "img-responsive") %></a>
</div>