<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for checking out SLAVE UNIT APPAREL, <%= @user.name %>!</h1>
    <p>Feel free to contact us through email at slav3unit@gmail.com or through the phone at +1 757 969-8560.  Rock on. -The Slave Unit Apparel Team</p>
  </body>
</html>