<div class="store-wrapper">
	<div class="store-inner">

		<div class="orders-main">
			<h2>Orders:</h2>
			<p>coming soon</p>	  	  			
		</div>

 </div><!-- end store inner --> 
</div><!-- end store wrapper -->