// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Breakpoint adjust to display hamburger at 990px /
@media (max-width: 990px) {
  .navbar-nav>li {
    float: none;
  }
}


body {
	background-color: black;
}

.index-wrapper {
  background-color: black;
}

h1 {
	color: red; 
	font-family: 'Michroma', sans-serif;
	font-size: 400%;
  padding-bottom: 3%;
}

h2 {
	color: red;
	font-family: 'Michroma', sans-serif;
}

h3 {
  color: red;
  font-family: 'Michroma', sans-serif;
}

p {
	color: gray;
	font-family: consolas, sans-serif;
  font-size: 150%;
}





/* NAVBAR */
#nav {
    top: 0;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 43px;
    opacity: 0.75;
    z-index: 6
}

/* NAVBAR LOGO GLITCH */
.navhome {
    background-image: asset-data-url("logo-nav-glitch2.jpg");
    background-repeat: no-repeat;
}

#navhome img:hover {
    opacity: 0;
}
/*NAVBAR LOGO GLITCH*/

.navbar {
    height: 43px
}

.navhome {
    width: 20%;
    float: left;
    margin-top: 4px
}

.menu {
    width: 80%;
    display: inline-block;
}

.navbar-collapse {
    float: right;
}

.nav li a {
    margin-left: 1em;
    margin-right: 1em
}

.nav a {
    transition: color 950ms;
}

.navbar-collapse form {
  padding-top: 13px;
  padding-left: 50px;
}

/* HAMBURGER MENU DROPDOWN */
#nav > div.container-fluid.menu > div.navbar-collapse.collapse.in {
  text-align: right;
}
/* HAMBURGER MENU DROPDOWN */

/* SEARCH BOX */
#nav > div.container-fluid.menu > div.navbar-collapse.collapse > ul > li:nth-child(4) > form > input[type="submit"]:nth-child(3) {
  background-color: gray;
  border-color: gray;
  color: white;
  font-family: 'Michroma', sans-serif;
}

#q {
  background-color: black;
  border-color: lightgray;
  color: yellow;
  font-family: 'Share Tech Mono', sans-serif;
}
/* SEARCH BOX */


/* USER ICON */
#nav > div.container-fluid.menu > div.navbar-collapse.collapse > ul.nav.navbar-nav > li:nth-child(6) > a > i {
     color: red;
}

#nav > div.container-fluid.menu > div.navbar-collapse.collapse > ul.nav.navbar-nav > li:nth-child(6) > a > i:hover {
     background-color: black;
    color: white;
}
/* USER ICON */


/* SIGN-IN ICON */
#nav > div.container-fluid.menu > div.navbar-collapse.collapse > ul.nav.pull-right > li > a { 
    color: red;
}

#nav > div.container-fluid.menu > div.navbar-collapse.collapse > ul.nav.pull-right > li > a:hover { 
    background-color: black;
    color: white;
}
/* SIGN-IN ICON */


/* NAVBAR */






/* AUTHENTICATION */
.authentication {
  padding-top: 8%;
  width: 90%;
  margin: auto;
}

.authentication .field {
  color: gray;
}

body > div.authentication > a:nth-child(5) {
  color: gray;
}

.notice {
  width: 90%;
  margin: auto;
  text-align: right;
  color: yellow;
}

.sign-up-button {
  color: white;
  font-family: 'Michroma', sans-serif;
}

.authentication a:visited {
    color: white;
}

/* AUTHENTICATION */





/* FOOTER */
#footer-lg {
  z-index: 2;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: black;
}

.fb-like {
  float: left;
  height: 50px
}

.socialfooter {
  width: 10%;
  float: left;
  height: 50px;
  padding-left: 4px;
}

.socialfooter img {
  padding-left: 6px;
}

.footerlogo {
  width: 50%;
  height: 50px;
  display: inline-block;
  float: right;
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 175%;
}

#footer-lg .footerlogoinside {
  float: right;
  padding-right: 5%;
}

#footer-lg .footerlogoinside p {
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 55%;
  color: lightgray;
}

/* FOOTER MOBILE */
#footer-sm {
  text-align: right;
  padding-bottom: 0;
  width: 98%;
  margin-top: 100%;
  position: fixed;
  bottom: 0;
  font-size: 50%;
  background-color: black;
}

.footerlogo-sm .footerlogoinside p {
  padding-bottom: 0;
  color: gray;
  font-family: 'Share Tech Mono', sans-serif;
}

.socialfooter-sm {
  padding-left: 0;
  padding-right: 0;
}

.footerlogo-sm {
  padding-left: 0;
  padding-right: 0;
  text-align: right;
}
/* END FOOTER MOBILE */
/* FOOTER */






/* BGMOUSEMOVEPARALLAX
Most of this code I got from:
http://www.jqueryscript.net/animation/Create-Interactive-Moving-Objects-with-jQuery-CSS3-bgMouseMove.html
and I edited. */

body {
  overflow: hidden;
}

.layer {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 50px 200px;
  margin: -50px -200px;
  left: 0px;
  top: 0px;
}

.img1 {
  background: asset-data-url("drumsyn.jpg");
  z-index: 1;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 1000px;

}

.overlay {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.28); 
}

.overlay img {
  margin-top: 19%;
}

.overlay-button {
  padding-top: 2%;
  text-align: center;
  z-index: 5;
  font-family: 'Michroma', sans-serif;
}

.landing-button-sm {
  padding-top: 10%;
}
/* END BGMOUSEMOVEPARALLAX */





/* HERO IMAGE MOBILE */
.hero-mobile {
  padding-top: 15%;
  height: 1050px;
}
/* END HERO IMAGE MOBILE */













/* ORDERS, CART */
.orders-main {
  padding-top: 5%;
  padding-bottom: 5%;
}

.orders-main h2 {
  padding-bottom: 1%;
  color: black; 
}

.orders-main p {
  font-family: consolas, sans-serif;
  font-size: 150%;
  color: gray;     
}

.well {
      padding: 0;
      text-align: right;
      width: 300px;
}

.add-to-cart-button {
  padding-top: 5%;
  width: 49px;
}

.row {
  height: 165px;
  width: 90%;
  
}

#new_order_item > div > div > input.btn.btn-danger {
  width: 75px;
  font-family: 'Michroma', sans-serif;
  font-size: 85%;
}

.input-group {
  float: right;
}

#order_item_quantity {
  width: 75px;
}

.cart-items {
  height: 25em;
  width: 40em;
  margin: 2em;
  background-color: white;
}

.shopping-cart {
  padding-bottom: 25em;
}

/* ORDERS, CART */














/* STORE */
.store-wrapper {
  background-color: white;
  padding-bottom: 30%;
  overflow: scroll;
  height: 900px;
}

.store-inner {
  width: 90%;
  margin: auto;
}

.store-item {
  padding-bottom: 25%;
  text-align: center;
}

.store-inner h1 {
  padding-top: 5%;
  padding-bottom: 5%;
  color: black;
}

.store-item h2 {
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 275%;
  color: gray;
}

.store-inner h3 {
  padding: 0;
  text-align: left;
  color: red;
}

.store-item img, .store-last-item img  {
  margin: auto;
  padding-bottom: 2%;
}

.store-last-item {
  text-align: center;
  padding-bottom: 30em;
}

.disclaimer {
  text-align: center;
  position: relative;
  bottom: 265px;
}



.store-item h6{
  color: red;
}

.merchandise p {
  color: gray;
  font-family: consolas, sans-serif;
}

.disclaimer p {
  font-family: consolas, sans-serif;
  font-size: 80%;
  color: black;  
}

.disclaimer {
  padding-top: 95%;
}






/* MOBILE STORE */
.store-title-sm {
  padding-top: 50%;
  padding-bottom: 80%;
}

.merchandise-sm {
  padding-bottom: 100%;
}

.disclaimer-sm {
  padding-bottom: 150%;
  color: black;
  text-align: center;
}



.store-title-sm h2, h3 {
  text-align: center;
  font-size: 130%;
}

.store-title-sm h3 {
  text-align: center;
}

.store-title-sm h1 {
  padding: 0;
  text-align: center;
  font-size: 220%;
  color: black;
}

.store-item-sm {
  text-align: center;
  margin: auto; 
  padding-bottom: 40%;
}

.store-item-sm h2{
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 225%;
  color: black;
}

.store-item-sm h6{
  color: red;
}

.store-item-sm p {
  color: gray;
  font-family: consolas, sans-serif;
  font-size: 140%;
}

.disclaimer-sm p{
  font-size: 100%;
  color: black;
}

.store-item-sm img {
  padding-top: 10%;
  padding-bottom: 10%;

}
/* END MOBILE STORE */
/* END STORE */












/* FEATURE PAGE */
.featured-main {
  padding-top: 5%;
  padding-bottom: 5%;
}

.featured-main h1 {
  font-family: 'Michroma', sans-serif;
  font-size: 275%;
  color: black; 
  padding-bottom: 2%;
}

.featured-main h2 {
  padding-bottom: 1%;
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 275%;
  color: red; 
}

.featured-main h3 {
  font-family: consolas, sans-serif;
  font-size: 150%;
  color: black; 
  padding-bottom: 2%;
}

.featured-main h4 {
  font-family: 'Michroma', sans-serif;
  font-size: 150%;
  color: red; 
}

.featured-main p {
  font-family: consolas, sans-serif;
  font-size: 150%;
  color: black;     
}

.featured-main img {
  padding-bottom: 5%;
}

.featured-main-sm {
  padding-top: 5%;
  padding-bottom: 150%;
}

.featured-main-sm h1 {
  font-family: 'Michroma', sans-serif;
  font-size: 250%;
  color: black; 
  padding-bottom: 2%;
}

.featured-main-sm h2 {
  padding-bottom: 1%;
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 200%;
  color: red; 
}

.featured-main-sm h3 {
  font-family: consolas, sans-serif;
  font-size: 125%;
  color: black; 
  padding-bottom: 2%;
}

.featured-main-sm h4 {
  font-family: 'Michroma', sans-serif;
  font-size: 150%;
  color: red; 
}

.featured-main-sm p {
  font-family: consolas, sans-serif;
  font-size: 125%;
  color: black;     
}

.featured-main-sm img {
  padding-bottom: 5%;
}

.featured-button-sm {
  padding-top: 45%;
  text-align: center;
}

.index-description {
  width: 60%;
  margin: auto;
  padding-top: 1%;
  text-align: center;
}

.index-description h1 {
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 600%;
}

.index-description p {
  font-size: 200%;
  line-height: 100%;
  color: black;
}

.index-description-sm {
  margin: auto;
  padding-top: 45%;
  padding-bottom: 45%;
  text-align: center;
}

.index-description-sm h1 {
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 400%;
}

.index-description-sm p {
  font-size: 150%;
  line-height: 100%;
  color: black;
}













/* CAROUSEL */
.carousel {
  margin-top: 10%;
}

.carousel-control:hover {
  opacity: 0;
}

.carousel-control {
  width: 0;
}

.carousel-caption p {
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 200%;
  color: gray;
}

.carousel-indicators li {
  background-color: black;
}

.carousel-indicators li.active {
  background-color: red;
}
/* CAROUSEL */



/* FEATURE PAGE */













/* ABOUT */
.about-wrapper {
  overflow: scroll;
  background-color: black;
  height: 1050px;
}

.about-inner {
  width: 90%;
  margin: auto;
}

.about-inner h2 {
  color: white;
}

.about-inner h1 {
  padding-top: 5%;
}

.about-paragraph p {
  color: gray;
}

.about-inner-sm {
  width: 90%;
  margin: auto;
}

.about-inner-sm h1 {
  padding-top: 5%;
  font-size: 10%;
}

.about-paragraph-sm p {
  color: gray;
  font-size: 140%;
}

.about-logo-sm img {
  padding-top: 50em;
  padding-bottom: 60em;
  margin: auto;
}

/* ABOUT LOGO GLITCH */
.about-logo {
  background: asset-data-url("logo-big-glitch.jpg") center;
  background-repeat: no-repeat;
  margin-top: 50em;
  margin-bottom: 50em;
}

.about-logo img {
  margin: auto;
}

#about-logo img:hover {
  opacity: 0;
}
/* ABOUT LOGO GLITCH */

/* END ABOUT */





/* CONTACT */
@media screen and (min-width: 376px) {
  .contact-wrapper {
    background: asset-data-url("vigan bw3.jpg");
    background-size: cover;
    background-position: center center;
    height: 1100px;
    padding-top: 8em;
  }
}

@media screen and (max-width: 375px) {
  .contact-wrapper {
    background: asset-data-url("vigan bw sm2.jpg");
    background-size: cover;
    background-position: center center;
    height: 627px;
    padding-top: 6em;
  }
}

/* CONTACT LOGO GLITCH */
.contact-logo {
  background: asset-data-url("logo-big-glitch.jpg") center;
  background-repeat: no-repeat;
}

.contact-logo img {
  margin: auto;
}

#contact-logo img:hover {
  opacity: 0;
}
/* CONTACT LOGO GLITCH */

.contact-inner {
  width: 90%;
  margin: auto;
  text-align: center;
}

.contact-inner {
  height: 100%;
}

.contact-paragraph{
  height: 70%;
}

.contact-inner h1 {
  padding-top: 5%;
}

.contact-title h2 {
  color: white;
}

.contact-paragraph h3, p {
  color: white;
}

.contact-paragraph-sm {
  padding-top: 10%;
}

.contact-paragraph-sm h3{
  color: white;
  font-size: 190%;
}

.contact-paragraph-sm p {
  font-family: consolas, sans-serif;
  color: white;
  font-size: 170%;
}

.contact-button {
  font-family: 'Michroma', sans-serif;
}

/* EMAIL FORM */
.panel {
  background-color: black;
  border-color: black;
  width: 75%;
  margin: auto;
}

#name, #email, #message {
  background-color: black;
  font-family: consolas, sans-serif;
  font-size: 150%;
  text-align: center;
  color: yellow;
}

.contact-paragraph #message {
  width: 40em;
  height: 10em;
}

.contact-paragraph-sm .row {
  width: 100%;
  margin: auto;
}


/* THANK YOU */
.panel {
  text-align: center;
}

.panel-body-sm {
padding-top: 10%;
  
}
/* THANK YOU */


/* END CONTACT */