<div class="store-wrapper">
	<div class="store-inner">

	<h1>Editing product</h1>

	<!-- PAPERCLIP -->
	<%= form_for @product, url: products_path, html: { multipart: true } do |form| %>
	<% end %>
	<!-- PAPERCLIP -->

	<%= render 'form' %>

	<%= link_to 'Show', @product %> |
	<%= link_to 'Back', products_path %>

	</div><!-- end store inner -->
</div><!-- end store wrapper -->


