<div class="store-wrapper">
  <div class="store-inner">
    
    <div class="store-title visible-lg-block visible-md-block">
      <h1>SLAVE UNIT APPAREL</h1>
        <div class="new-product-button">
          <% if current_user.try(:admin?) %>
            <%= link_to 'New Product', new_product_path, :class => 'btn btn-danger' %>
          <% end %>
        </div>
      <h2>PRODUCT INDEX</h2>
      <h3>Available Late 2016</h3>

<!-- "Items in cart" SHOPPING CART -->
    <h3 class="cart-text">
      <%= render 'layouts/cart_text' %>
    </h3>
<!-- "Items in cart" SHOPPING CART -->    
      
            <% @products.each do |product| %>

<!-- redirect to _product in views -->
                <%= render product %>
<!-- redirect to _product in views -->

            <% end %>
        
    </div><!-- end store-title -->
  </div>
</div>